@use "../../../../styles/variables.scss" as *;

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: $colorPrimary;
        font-family: $fontDefault;
    }

    span {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
        color: $colorPrimary;
        width: 18rem;
        font-family: $fontDefault;
       
    }
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 5rem auto;
    max-width: 52.25rem;

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.4s;
        height: 10rem; 
        width: 25rem;
        
        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: start;
        }

        .cardDivision {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
            display: flex;
            justify-content: end;
            align-items: center; 
        }

        p {
            width: 6.25rem;
            margin: 2rem;
            text-align: center;
            color: white;
            font-size: 1.3rem;
            font-weight: 600;  
            line-height: 1.1;
        }
    }   
}

@media (max-width: 618px) {

    .cardSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem auto;
        width: fit-content;
    
        .card {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.4s;
            width: fit-content;
            margin: 0 0 0 0;

            img {
                width: 18rem;
                height: 10rem;
                display: flex;
                align-items: start;
            }
    
            .cardDivision {
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
                display: flex;
                justify-content: end;
                align-items: center; 
            }
    
            p {
                width: 6.25rem;
                margin: 1.8rem;
                text-align: center;
                color: white;
                font-size: 1.3rem;
                font-weight: 600;    
            }
        }     
    }
}

@media (max-width: 425px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;

        .card {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.4s;
            width: fit-content;
            margin: 0 0 0 0;

            img {
                width: 22rem;
                height: 11rem;
                display: flex;
                align-items: start;
            }
    
            .cardDivision {
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
                display: flex;
                justify-content: end;
                align-items: center; 
            }
    
            p {
                width: 6.25rem;
                margin: 1.8rem;
                text-align: center;
                color: white;
                font-size: 1.3rem;
                font-weight: 600;    
            }
        }     
    }
}

@media (max-width: 375px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.4s;
            width: fit-content;
            margin: 0 0 2rem 0;

            img {
                width: 22rem;
                height: 11rem;
                display: flex;
                align-items: start;
            }
    
            .cardDivision {
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
                display: flex;
                justify-content: end;
                align-items: center; 
            }
    
            p {
                width: 6.25rem;
                margin: 1.8rem;
                text-align: center;
                color: white;
                font-size: 1.3rem;
                font-weight: 600;    
            }
        }     
    }
}

@media (max-width: 320px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.4s;
            width: fit-content;
            margin: 0 0 2rem 0;

            img {
                width: 20rem;
                height: 11rem;
                display: flex;
                align-items: start;
            }
    
            .cardDivision {
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
                display: flex;
                justify-content: end;
                align-items: center; 
            }
    
            p {
                width: 6.25rem;
                margin: 1rem;
                text-align: center;
                color: white;
                font-size: 1.1rem;
                font-weight: 600;    
            }
        }     
    }
}
  
@media (max-width: 280px) {
    h1 {
        line-height: 1;
        margin-bottom: 1rem;
    }


    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.4s;
            width: fit-content;
            margin: 0 0 2rem 0;

            img {
                width: 18rem;
                height: 11rem;
                display: flex;
                align-items: start;
            }
    
            .cardDivision {
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); /* Fundo angular */
                display: flex;
                justify-content: end;
                align-items: center; 
            }
    
            p {
                width: 6.25rem;
                margin: 1rem;
                text-align: center;
                color: white;
                font-size: 1.1rem;
                font-weight: 600;    
            }
        }     
    }
}