@use "../../../../styles/variables.scss" as *;

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: $colorPrimary;
        font-family: $fontDefault;
        text-wrap: nowrap;
    }

    span {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
        color: $colorPrimary;
        width: 18rem;
        font-family: $fontDefault;
       
    }
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 5rem auto;
    width: 52.25rem;

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.4s;
        height: 10rem; 
        width: 25rem;
        
        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: start;
        }

        .cardDivision {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            background: linear-gradient(-60deg, $colorPrimary 45%, transparent 20%); 
            display: flex;
            justify-content: end;
            align-items: center; 
        }

        p {
            width: 6.25rem;
            margin: 2rem;
            text-align: center;
            color: white;
            font-size: 1.3rem;
            font-weight: 600;  
            line-height: 1.1;
        }
    }   
}

@media (min-width: 2001px) and (max-width: 2560px) {

    .titleSection {
    
        h1 {
            font-size: 4rem;
        }
    
        span {
            font-size: 2rem;
            width: auto;
        }
    }
    
    .cardSection {
        gap: 4rem 6rem;
        margin: 10rem auto;
        width: fit-content;
    
        .card {
            border-radius: 1rem;
            height: 20rem; 
            width: 40rem;  
    
            img {
                width: 75%;
                height: 100%;
            }
    
            p {
                width: 12rem;
                margin: 0 3rem 0 0;
                font-size: 2.5rem;
            }
        }   
    }
}

@media (min-width: 1441px) and (max-width: 2000px) {

    .titleSection {
    
        h1 {
            font-size: 3rem;
        }
    
        span {
            font-size: 1.2rem;
            width: auto;
        }
    }
    
    .cardSection {
        gap: 2.5rem;
        margin: 5rem auto;
        width: fit-content;
    
        .card {
            border-radius: 1rem;
            height: 15rem; 
            width: 30rem;  
    
            img {
                width: 71%;
                height: 100%;
            }
    
            p {
                width: 12rem;
                margin: 0;
                font-size: 1.7rem;
            }
        }   
    }
}

@media (max-width: 768px) {

    .cardSection {
        width: fit-content;
    
        .card {
            width: fit-content;
            margin: 0;

            img {
                width: 22rem;
                height: 11rem;
            }
    
            p {
                margin: 1.8rem;
            }
        }     
    }
}

@media (max-width: 618px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
        gap: 0;

        .card {
            width: fit-content;
            margin: 0 0 5rem 0;

            img {
                width: 22rem;
                height: 11rem;
            }
    
            p {
                margin: 1.8rem;
            }
        }     
    }
}

@media (max-width: 425px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
        gap: 0;

        .card {
            width: fit-content;
            margin: 0 0 4rem 0;

            img {
                width: 22rem;
                height: 11rem;
            }
    
            p {
                margin: 1.8rem;
            }
        }     
    }
}

@media (max-width: 375px) {

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            width: fit-content;
            margin: 0 0 4rem 0;

            img {
                width: 22rem;
                height: 11rem;
            }
    
            p {
                margin: 1.8rem;  
            }
        }     
    }
}

@media (max-width: 320px) {

    .titleSection {
        h1 {
            font-size: 2rem;
        }
    }
   
    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            width: fit-content;
            margin: 0 0 4rem 0;

            img {
                width: 20rem;
                height: 11rem;
            }
    
            p {
                margin: 1rem;
                font-size: 1.1rem;
            }
        }     
    }
}
  
@media (max-width: 280px) {
    .titleSection {

        h1 {
            font-size: 2.2rem;
        }
    }

    .cardSection {
        display: flex;
        flex-direction: column;
        margin: 0.5rem auto;
        width: fit-content;

        .card {
            width: fit-content;
            margin: 0 0 4rem 0;

            img {
                width: 18rem;
                height: 11rem;
            }
    
            p {
                margin: 1rem;
                font-size: 1.1rem; 
            }
        }     
    }
}